services:
  streamlit-app:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: mangetamain-app

    ports:
      - "8502:8501"

    environment:
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
      - APP_MODE=dev
      - PYTHONPATH=/app
      - DATA_REMOTE_URL=https://drive.google.com/uc?id=1bc6Rfx0yjdwauFtuLnhtfjW_qFIQAqax&export=download
    volumes:
      - ./data:/app/data

    restart: unless-stopped

    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8501/_stcore/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
